

.cwrapper hr{
	margin-top: 20px;
}
.cwrapper p{
	margin-top: 5px;
	text-align: justify;
	word-wrap: break-word;
}

.cmmt_images{
	
	margin: 30px 0 0 37%;
	display: inline-block;

	width: 90px;
	height: 90px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
/*
.cmmtright{
	float: right;
	display: inline;
	
	margin-right: 80px;
	color: #EAEAEA;

}

.cleft hr{
	color: #EAEAEA;
	  opacity: 0.3;
    filter: alpha(opacity=30);
}
*/


#post{
	 display:block;
    width:270px;
    word-wrap:break-word;
}

/*
.comment{
	position:fixed;
	bottom: 0px;
	width: 40%;
	left: 30%;

}*/

.cleft{
	position:fixed;
	top: 60px;
	height: 100vh;
	color: #EAEAEA;

	
}

.cright{
	position:fixed;
	top: 80px;
	right: 0;
	
}

.bg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#341d63+0,78293f+100 */
background: #341d63; /* Old browsers */
background: -moz-linear-gradient(top,  #341d63 0%, #78293f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #341d63 0%,#78293f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #341d63 0%,#78293f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#341d63', endColorstr='#78293f',GradientType=0 ); /* IE6-9 */

	left: 1px;
	padding-left: 20px;
	padding-right: 20px;

}
#bgall{
	background-color: white;
}

.usercommentz{
	 display: table-cell;
    vertical-align: bottom;
    border: 1px solid #4CAF50;
    height: 100px;
}




/*.chat-container{
  background-color:#fff;
  max-width:50%;
  height:100%;
  
  display:flex;
  flex-direction:column;





@media screen and (max-width:760px){
  .chat-container{
    max-width:100%;
    
  }
  body,html{
    padding:0;
  }
}

body,html{
  margin:0;
  background-color:#f2f2f2;
  height:100%;
  padding:1em;
  box-sizing:border-box;
}*/


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    
     margin-bottom: 10px;
    padding-bottom: 15px;
       margin-top: 10px;
    padding-top: 15px;
    border-top: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
   right: 20%;
}

.panel-footer{
	position: fixed;
	bottom: 0;
	margin-top: 20px;
	width: 47%;

}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.FIXED{
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 25%;
overflow-y: scroll;

}

.commntnotify{
	position:fixed;
	bottom: 20px;
	
	left: 8%;
}