.user_profile {
  margin-top:50px;

}

.ur_name{

	margin-left: 15px;

}


.user_images{
	float: right;
	display: inline-block;

	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.watch{
	display: inline-block;
	
	
}
.fw{
	margin-top: 30px;
	margin-left: 70px;
}

.pfl{
	padding-top: 20px;
}