<template name="hashbody">
<!--
<div id="result-container" class="container grid">-->

{{#if hash}}
<div  class="container">
<div class="masonry masonry-columns-5" >


{{#each hash}}
 {{> hashPost}}

{{/each}}





</div>
</div>


{{else}}
<center>
<h2 style="margin-top: 15%; color: #e5e5e5;">loading...</h2>
</center>
{{/if}}


	{{> modelBtn}}


</template>


<template name="hashPost">


		<div class="masonry-item" >


			  	<div class="media" >
				  <!-- not this one here <a href="{{url}}" target="_blank"><img src="{{url}}"></a> 
			      for images if any-->

				<div class="images">				
				
				</div>

				 <!-- for text if any-->

				<div class="text" >
					<p>{{{body}}}</p>
				</div>

			      <!--for likes nd share if any  style="color:blue"-->

				<div class="extra">
					 <!--like-->
					<div class="promo"><a id="{{_id}}" href="#"><p  style="
    margin-bottom: 0px;">{{promotioncount _id}}</p><span class="glyphicon glyphicon-fire">
       </span></a></div>
				</div>
				

				<div class="extra" id="comment">
					 <!--comment-->
					<a href="/comments/{{_id}}"><p>{{commentcount _id}}</p><span class="glyphicon glyphicon-pencil"></span></a>
				</div>

				  <!--break tag -->

				<hr>

				 <!-- for name must-->
				<div class="author ">
				<a href="/users/{{username}}">
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" id="circular"  width="70" height="70">
			    	<strong id="name">@{{username}}</strong> 
			    </a>	   <strong>{{author}}</strong>
			    </div>

			    <!-- for promotion tag-->
			    <div class="promotion extra" id="comment">
			    
			    </div>
			    	
			  </div>


</div>



</template>